* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cairo;
}
:root {
  --background: #ebebeb;
  --white: #ffffff;
  --black: #000000;
  --green: #0bd064;
  --gray: #8f8f8f;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
}
a {
  color: var(--black);
  text-decoration: none;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  transition: all 0.3s ease;
}
a:hover {
  transform: translateY(-2px);
}
.active {
  color: var(--green);
  font-weight: bold;
}
.screen {
  width: 90%;
  margin: 0 auto;
}
h1 {
  font-size: clamp(2.1rem, 5vw, 8rem);
}
h3 {
  font-size: clamp(1.2rem, 2.8vw, 2.2rem);
}
p {
  font-size: clamp(1rem, 2vw, 2rem);
}
.mid {
  font-size: clamp(1rem, 5vw, 1.3rem);
}
.small {
  font-size: clamp(0.8rem, 3.5vw, 1.2rem);
}
.bold {
  font-weight: bold;
}
.semiBold {
  font-weight: 600;
}
.faded {
  color: var(--gray);
}

/* -------------------------------------- N A V B A R ----------------------------------------- */

nav {
  z-index: 1000;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  background-color: rgba(237, 237, 237, 0.7);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 1rem;
  width: 100%;
}
.links {
  gap: 1rem;
  display: flex;
  /* display: none; */
}
.logo {
  background: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: relative;
}
.logo > img {
  width: 80%;
  position: absolute;
  left: 1px;
}
.menu {
  color: var(--white);
  font-size: 1.8rem;
  cursor: pointer;
}
.fake {
  color: var(--background);
  background-color: var(--background);

  display: flex;
  flex-direction: row;
  position: relative;
  z-index: -1000;
  justify-content: center;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(16, 16, 16, 0.7);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
}

.tab {
  display: flex;
  margin: 2rem 0;
  border-radius: 0.5rem;
}
.tabBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--green);
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 0.5rem;
}
.tabBtn:hover {
  filter: drop-shadow(0px 10px 10px rgba(124, 123, 123, 0.581));
  cursor: pointer;
  transform: translateY(-3px);
  transition: all 0.3s ease;
}
.activeTab {
  background-color: var(--green);
  color: var(--white);
}
.nonactiveTab {
  background-color: var(--white);
}

/* -------------------------------------- H O M E ----------------------------------------- */

.homeCard {
  width: 100%;
  background: var(--green);
  color: var(--white);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  padding: 1.5rem 1rem;
  box-shadow: 0px 5px 20px rgba(124, 123, 123, 0.293);
}
.rightPart {
  display: none;
}
.rightPart > img {
  width: 25vw;
  max-width: 22rem;
}
.topLeft {
  padding-left: 1rem;
  margin-bottom: 1vh;
}
.leftPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------------------------------------- P O S T ----------------------------------------- */

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 0 1rem 0;
  line-height: 1.4;
}
.postCard {
  background: var(--white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  overflow: hidden;
}
.padding {
  padding: 0 1rem;
}
.picAndCont {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nameDate {
  line-height: 1.3;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green);
  width: 15vw;
  aspect-ratio: 1;
  max-width: 3rem;
  min-width: 2.2rem;
  border-radius: 50%;
}
.topOfPost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tagCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}
.tag {
  border: var(--black) solid 2px;
  padding: 0 0.5rem;
  border-radius: 20rem;
  line-height: 1.5;
  font-weight: bold;
}
.itemImage {
  width: 100%;
  aspect-ratio: 1;
  border: none;
  background: var(--gray);
  outline: none;
}
.priBtn {
  width: 100%;
  border: none;
  background: var(--green);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.priBtn:hover {
  filter: drop-shadow(0px 10px 10px rgba(124, 123, 123, 0.581));
  cursor: pointer;
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

/* -------------------------------------- F O R M ----------------------------------------- */

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formInput {
  display: flex;
  flex-direction: column;
}
.formInput input {
  padding: 5px 10px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  transition: all 0.3s ease;
  outline: none;
}
.formInput select {
  padding: 5px 10px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  transition: all 0.3s ease;
  outline: none;
}
.formInput textarea {
  padding: 5px 10px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  transition: all 0.3s ease;
  outline: none;
  resize: none;
  width: 100%;
}
.error {
  color: red;
  font-weight: 600;
}
.formInput input:focus {
  border: var(--green) solid 2px;
  accent-color: var(--green);
}
.formInput select:focus {
  border: var(--green) solid 2px;
  accent-color: var(--green);
}
.formInput textarea:focus {
  border: var(--green) solid 2px;
  accent-color: var(--green);
}
.formBtn {
  width: 100%;
  border: none;
  border-radius: 8px;
  margin: 1rem 0 4rem 0;
  background: var(--green);
  color: var(--white);
  padding: 0.5rem;
  font-weight: bold;
}
.formBtn:hover {
  filter: drop-shadow(0px 10px 10px rgba(124, 123, 123, 0.581));
  cursor: pointer;
  transform: translateY(-3px);
  transition: all 0.3s ease;
}
.formBtn:disabled{
  opacity: .5;
  cursor: not-allowed;
  transform: none;
  filter: none;
}

/* -------------------------------------- M E D I A   Q U E R E I S ----------------------------------------- */

@media (min-width: 460px) {
  .homeCard {
    padding: 0;
  }
  .rightPart {
    background: var(--white);
    width: 45%;
    max-width: 30rem;
    aspect-ratio: 1;
    /* scale: 1.2; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: relative;
    left: 1.5rem;
  }
  .topLeft {
    margin-bottom: 5vh;
  }
  .topForm {
    display: flex;
    gap: 1rem;
  }
  .rightForm {
    width: 50%;
  }
  .leftForm {
    width: 50%;
  }
}
@media (min-width: 650px) {
  .menu {
    display: none;
  }
  .links {
    display: flex;
    gap: 3rem;
  }
  .logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  .fake {
    display: none;
  }
  nav {
    padding-bottom: 0;
  }
  .screen {
    width: 80%;
  }
  .nav-cont {
    padding-top: 2rem;
  }
  .topForm {
    gap: 2rem;
  }
}
@media (min-width: 850px) {
}
@media (min-width: 990px) {
  .fake {
    display: none;
  }
  .nav-cont {
    padding-top: 2rem;
  }
}
@media (min-width: 710px) {
}
@media (min-width: 1150px) {
  .screen {
    width: 70%;
  }
}
@media (min-width: 1350px) {
  .logo {
    width: 3rem;
    height: 3rem;
  }
}
