* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cairo;
}
:root {
  --background: #ebebeb;
  --white: #ffffff;
  --black: #000000;
  --gray: #8f8f8f;
  --green: #0bd064;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
}
a {
  color: var(--black);
  text-decoration: none;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  transition: all 0.3s ease;
}
.active {
  color: var(--green);
  font-weight: bold;
}
.screen {
  width: 90%;
  margin: 0 auto;
}

/* -------------------------------------- N A V B A R ----------------------------------------- */

nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(237, 237, 237, 0.7);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 1rem;
  width: 100%;
}
.links {
  gap: 3rem;
  display: none;
}
.logo {
  background: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: relative;
}
.logo > img {
  width: 80%;
  position: absolute;
  left: 1px;
}
.menu {
  color: var(--white);
  font-size: 1.8rem;
  cursor: pointer;
}
.fake {
  color: var(--background);
  background-color: var(--background);

  display: flex;
  flex-direction: row;
  position: relative;
  z-index: -1000;
  justify-content: center;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(16, 16, 16, 0.7);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
}

/* -------------------------------------- M E D I A   Q U E R E I S ----------------------------------------- */

@media (min-width: 560px) {
}
@media (min-width: 650px) {
  .menu {
    display: none;
  }
  .links {
    display: flex;
  }
  .logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  .fake {
    display: none;
  }
  nav {
    padding-bottom: 0;
  }
  .screen {
    width: 80%;
  }
  .nav-cont {
    padding-top: 2rem;
  }
}
@media (min-width: 850px) {
}
@media (min-width: 990px) {
  .fake {
    display: none;
  }
  .nav-cont {
    padding-top: 2rem;
  }
}
@media (min-width: 770px) {
}
@media (min-width: 1150px) {
  .screen {
    width: 70%;
  }
}
@media (min-width: 1350px) {
  .logo {
    width: 3rem;
    height: 3rem;
  }
}
